
H1 {
  font-family: "Arial";
  color: navy;
}

H2 {
  font-family: "Arial";
  color: navy;
}

H3 {
  font-family: "Arial";
  color: navy;
}

INPUT {
  font-family: "Arial";
}

LI {
  padding-top: 5pt;
}
