* text=auto !eol
Emacs/BEmacsClassMoniker/BEmacsClassMoniker.aps -text
Emacs/BEmacsClassMoniker/RES/ICON1.ICO -text
Emacs/Editor/BEmacsComClient/icon1.ico -text
Emacs/Editor/BEmacsComClient/icon2.ico -text
Emacs/Editor/BEmacsComClient/icon3.ico -text
Emacs/Editor/BEmacsComClient/icon4.ico -text
Emacs/Editor/BEmacsComClient/icon5.ico -text
Emacs/Editor/BEmacsComClient/icon6.ico -text
Emacs/Editor/BEmacsComClient/icon7.ico -text
Emacs/Editor/BEmacsComClient/icon8.ico -text
Emacs/Editor/Res/BMP16175.BMP -text
Emacs/Editor/Res/BMP24826.BMP -text
Emacs/Editor/Res/BMP28043.BMP -text
Emacs/Editor/Res/IDR_MAIN.ICO -text
Emacs/Editor/Res/TOOLBAR.BMP -text
Emacs/Editor/Res/TOOLBAR1.BMP -text
Emacs/Editor/Res/toolbar_build.bmp -text
Emacs/Editor/Res/toolbar_case.bmp -text
Emacs/Editor/Res/toolbar_edit.bmp -text
Emacs/Editor/Res/toolbar_file.bmp -text
Emacs/Editor/Res/toolbar_macro.bmp -text
Emacs/Editor/Res/toolbar_region.bmp -text
Emacs/Editor/Res/toolbar_search.bmp -text
Emacs/Editor/Res/toolbar_tools.bmp -text
Emacs/Editor/Res/toolbar_view.bmp -text
Emacs/Editor/Res/toolbar_window.bmp -text
Emacs/Editor/Res/win_doc.ico -text
Emacs/Editor/Res/win_emacs.ico -text
Emacs/HTML/ug_bemacs_doc.gif -text
Emacs/HTML/ug_bemacs_folder.gif -text
Emacs/HTML/ug_bemacs_icon.gif -text
Emacs/HTML/ug_drop_file.gif -text
Emacs/HTML/ug_modeline.gif -text
Emacs/HTML/ug_screen.gif -text
Emacs/HTML/ug_start_menu.gif -text
Emacs/HTML/ug_windows.gif -text
Emacs/Kit/vc6redist/50comupd.exe -text
Emacs/Kit/vc6redist/ADVPACK.DLL -text
Emacs/Kit/vc6redist/PreSetup.exe -text
Emacs/Kit/vc6redist/W95INF16.DLL -text
Emacs/Kit/vc6redist/W95INF32.DLL -text
Emacs/Kit/vc6redist/asycfilt.dll -text
Emacs/Kit/vc6redist/atla.dll -text
Emacs/Kit/vc6redist/atlu.dll -text
Emacs/Kit/vc6redist/comcat.dll -text
Emacs/Kit/vc6redist/mfc42.dll -text
Emacs/Kit/vc6redist/mfc42u.dll -text
Emacs/Kit/vc6redist/msvcirt.dll -text
Emacs/Kit/vc6redist/msvcp60.dll -text
Emacs/Kit/vc6redist/msvcrt.dll -text
Emacs/Kit/vc6redist/oleaut32.dll -text
Emacs/Kit/vc6redist/olepro32.dll -text
Emacs/Kit/vc6redist/stdole2.tlb -text
