* text=auto !eol
BEmacsClassMoniker/BEmacsClassMoniker.aps -text
BEmacsClassMoniker/RES/ICON1.ICO -text
Builder/Win32.mak -text
Builder/builder_custom_init.cmd eol=crlf
Editor/BEmacsComClient/icon1.ico -text
Editor/BEmacsComClient/icon2.ico -text
Editor/BEmacsComClient/icon3.ico -text
Editor/BEmacsComClient/icon4.ico -text
Editor/BEmacsComClient/icon5.ico -text
Editor/BEmacsComClient/icon6.ico -text
Editor/BEmacsComClient/icon7.ico -text
Editor/BEmacsComClient/icon8.ico -text
Editor/MacOSX/be -text
Editor/Source/Windows/Resources/BMP16175.BMP -text
Editor/Source/Windows/Resources/BMP24826.BMP -text
Editor/Source/Windows/Resources/BMP28043.BMP -text
Editor/Source/Windows/Resources/IDR_MAIN.ICO -text
Editor/Source/Windows/Resources/TOOLBAR.BMP -text
Editor/Source/Windows/Resources/TOOLBAR1.BMP -text
Editor/Source/Windows/Resources/toolbar_build.bmp -text
Editor/Source/Windows/Resources/toolbar_case.bmp -text
Editor/Source/Windows/Resources/toolbar_edit.bmp -text
Editor/Source/Windows/Resources/toolbar_file.bmp -text
Editor/Source/Windows/Resources/toolbar_macro.bmp -text
Editor/Source/Windows/Resources/toolbar_region.bmp -text
Editor/Source/Windows/Resources/toolbar_search.bmp -text
Editor/Source/Windows/Resources/toolbar_tools.bmp -text
Editor/Source/Windows/Resources/toolbar_view.bmp -text
Editor/Source/Windows/Resources/toolbar_window.bmp -text
Editor/Source/Windows/Resources/win_doc.ico -text
Editor/Source/Windows/Resources/win_emacs.ico -text
HTML/ug_bemacs_doc.gif -text
HTML/ug_bemacs_folder.gif -text
HTML/ug_bemacs_icon.gif -text
HTML/ug_drop_file.gif -text
HTML/ug_modeline.gif -text
HTML/ug_screen.gif -text
HTML/ug_start_menu.gif -text
HTML/ug_windows.gif -text
Kit/brand.copy-setup.cmd -text
Kit/vc6redist/50comupd.exe -text
Kit/vc6redist/ADVPACK.DLL -text
Kit/vc6redist/PreSetup.exe -text
Kit/vc6redist/W95INF16.DLL -text
Kit/vc6redist/W95INF32.DLL -text
Kit/vc6redist/asycfilt.dll -text
Kit/vc6redist/atla.dll -text
Kit/vc6redist/atlu.dll -text
Kit/vc6redist/comcat.dll -text
Kit/vc6redist/mfc42.dll -text
Kit/vc6redist/mfc42u.dll -text
Kit/vc6redist/msvcirt.dll -text
Kit/vc6redist/msvcp60.dll -text
Kit/vc6redist/msvcrt.dll -text
Kit/vc6redist/oleaut32.dll -text
Kit/vc6redist/olepro32.dll -text
Kit/vc6redist/stdole2.tlb -text
Kit/vc71redist/MFC71.dll -text
Kit/vc71redist/msvcp71.dll -text
Kit/vc71redist/msvcr71.dll -text
MLisp/Library/edit-variable.ml -text
MLisp/Library/makefile-mode.ml -text
MLisp/Library/smart-auto-execute.ml -text
