* text=auto !eol
emacs/SRC/DOCS/ER.DOC -text
emacs/SRC/DOCS/MR.DOC -text
emacs/SRC/DOCS/PG.DOC -text
emacs/SRC/DOCS/PG_EDIT.FSE -text
emacs/SRC/DOCS/PG_FKEYS.FSE -text
emacs/SRC/DOCS/PG_LAYER.FSE -text
emacs/SRC/DOCS/PG_NMKEY.FSE -text
emacs/SRC/DOCS/UG.DOC -text
emacs/SRC/EDIT/RES/TOOLBAR.BMP -text
emacs/SRC/EDIT/RES/WINEMACS.ICO -text
emacs/SRC/EDIT/RES/WINEMDOC.ICO -text
emacs/SRC/HELP/APPEXIT.BMP -text
emacs/SRC/HELP/BULLET.BMP -text
emacs/SRC/HELP/CURARW2.BMP -text
emacs/SRC/HELP/CURARW4.BMP -text
emacs/SRC/HELP/CURHELP.BMP -text
emacs/SRC/HELP/EDITCOPY.BMP -text
emacs/SRC/HELP/EDITCUT.BMP -text
emacs/SRC/HELP/EDITPAST.BMP -text
emacs/SRC/HELP/EDITUNDO.BMP -text
emacs/SRC/HELP/FILENEW.BMP -text
emacs/SRC/HELP/FILEOPEN.BMP -text
emacs/SRC/HELP/FILEPRNT.BMP -text
emacs/SRC/HELP/FILESAVE.BMP -text
emacs/SRC/HELP/HLPSBAR.BMP -text
emacs/SRC/HELP/HLPTBAR.BMP -text
emacs/SRC/HELP/SCMAX.BMP -text
emacs/SRC/HELP/SCMENU.BMP -text
emacs/SRC/HELP/SCMIN.BMP -text
emacs/SRC/KIT/_OSETUP.BMP -text
