'''

 ====================================================================
 Copyright (c) 2008 Barry A Scott.  All rights reserved.

 This software is licensed as described in the file LICENSE.txt,
 which you should have received as part of this distribution.

 ====================================================================

	be_version.py.template

'''
major = %(MAJOR)s
minor = %(MINOR)s
patch = %(PATCH)s
build = %(BUILD)s
