[Desktop Entry]
Version=1.0
Comment=Barry's Emacs
Type=Application
Name=Barry's Emacs
Exec=/usr/bin/bemacs %F
Icon=/usr/share/bemacs/org.barrys-emacs.editor.png
Categories=Development;
