/*
 *  style.css
 */

:root
    {
    --colour-main-bg: white;
    --colour-main-fg: black;
    --colour-link: navy;
    --colour-border: #ddd;
    --colour-table-border: #aaa;
    --colour-text-cmd: #800;
    --colour-text-key: #080;
    --colour-pre-fg: black;
    --colour-pre-bg: #ddd;
    --colour-header: navy;
    --colour-table-bg: #afa;
    }

@media only screen and (prefers-color-scheme: dark)
{
:root
    {
    --colour-main-bg: #111;
    --colour-main-fg: white;
    --colour-link: #88f;
    --colour-border: #111;
    --colour-border: #444;
    --colour-text-cmd: #4ee;
    --colour-text-key: #0c0;
    --colour-pre-fg: white;
    --colour-pre-bg: #333;
    --colour-header: #77f;
    --colour-table-th: #88f;
    --colour-table-bg: #222;
    }
}

body
{
    color: var(--colour-main-fg);
    background-color: var(--colour-main-bg);
}

a:link, a:visited
{
    color: var(--colour-link);
}

table
{
    border: 1px solid var(--color-table-border);
    border-collapse: collapse;
}

/*
 * header styles
 */
div.header td.link
{
    border-left: 1px solid var(--colour-border);
    text-align: center;
}

div.header td
{
    font-family: sans-serif;
    font-size: x-large;
}

/*
 * index styles
 */
div.index
{
    font-family: sans-serif;
    color: var(--color-main-fg);
}

div.index h1{
    font-size: large;
}

div.index a:link, div.index a:visited
{
    text-decoration: none;
}

div.index div.hr
{
    border-bottom: .1em solid var(--colour-border);
    margin-bottom: .5em;
    padding-bottom: 0;
}

div.index ul, div.index ol
{
    list-style-type: none;
}

div.index ul ul, div.index ol ol, div.index ol ul
{
    padding-left: 1em;
    list-style-type: none;
}

div.index li
{
    margin-top: .2em;
    margin-bottom: .2em;
}

/*
 * index grid styles
 */
div.index_grid table
{
    border: 0;
}

div.index_grid table caption
{
    text-align: left;
}

div.index_grid table td
{
    text-align: center;
}

/*
 * contents styles
 */
div.contents table
{
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    border-collapse: collapse;
    border: 1px solid var(--colour-table-border);
    color: var(--colour-main-fg);
    background-color: var(--colour-table-bg);
}

div.contents table caption
{
    text-align: left;
    padding-left: 1em;
    padding-bottom: .5em;
}

div.contents table.keynames col.col1
{
    width: 10em;
}

div.contents table.keynames col.col2
{
    width: 20em;
}

div.contents table.keynames caption
{
    font: bold normal sans-serif;
    margin-top: 1em;
}

div.contents table.key-bindings
{
    table-layout: fixed;
} 

div.contents table.key-bindings col.binding
{
    min-width: 10em;
}

div.contents table.key-bindings col.function
{
    min-width: 25em;
}

div.contents table.action-command
{
    table-layout: fixed;
} 

div.contents table.action-contents col.action
{
    width: 50%;
}

div.contents table.key-bindings col.command
{
    width: 50%;
}

div.contents th, div.contents td
{
    border: 1px solid var(--colour-table-border);
    padding: .2em;
    text-align: left;
}

div.contents th
{
    color: var(--colour-table-th);
}

span.cmd
{
    font-family: monospace;
    color: var(--colour-text-cmd);
}

span.key
{
    font-family: monospace;
    color: var(--colour-text-key);
}

span.cmd_description
{
    font-size: smaller;
}

div.contents p
{
    width: 50em;
}

div.contents pre
{
    width: 50em;
    margin-left: 2em;
    margin-right: 2em;
    padding: .3em;
    border: 1px solid var(--colour-border);
    color: var(--colour-pre-fg);
    background-color: var(--colour-pre-bg);
}

div.contents table pre
{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 0; 
}


div.contents ul, div.contents ol
{
    padding-left: 1.2em;
}

div.contents ul ul, div.contents ol ol, div.contents ol ul
{
    padding-left: 1em;
    list-style-type: square;
}

div.contents li
{
    margin-top: .2em;
    margin-bottom: .2em;
}

div.contents h1, div.contents h2, div.contents h3
{
    font-family: sans-serif;
    color: var(--colour-header);
}

div.contents h2, div.contents h3
{
    padding-top: .3em;
    border-top: 2px solid var(--colour-border);
}
