
h1 {
  font-family: "sans-serif";
  color: navy;
}

h2 {
  font-family: "sans-serif";
  color: navy;
}

h3 {
  font-family: "sans-serif";
  color: navy;
}

input {
  font-family: "sans-serif";
}

li {
  padding-top: 5pt;
}
